<a href="https://colab.research.google.com/github/shhh-33/sesac-python/blob/shhh/%ED%86%B5%EA%B3%84%EB%B6%84%EC%84%9D%EC%8B%9C%EA%B0%81%ED%99%94_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Series

In [ ]:
import pandas as pd

In [ ]:
s = pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
print(s.values)

[1 2 3 4 5]

In [ ]:
s=pd.Series(["홍길동", "나길동", "선우길동"])
print(s)

0     홍길동
1     나길동
2    선우길동
dtype: object

In [ ]:
subjects=["국어", "영어", "수학"]
s=pd.Series([90,85,80], index=subjects)
print(s)

국어    90
영어    85
수학    80
dtype: int64

In [ ]:
import numpy as np
s1 = pd.Series([np.nan,10,30]) 
s2 = pd.Series([None,10,30]) #둘다 데이터값 없다.
s3 = pd.Series([0,10,30])
s4 = pd.Series([-1,10,30])
print(s1)
print(s2)
print(s3)
print(s4)

0     NaN
1    10.0
2    30.0
dtype: float64
0     NaN
1    10.0
2    30.0
dtype: float64
0     0
1    10
2    30
dtype: int64
0    -1
1    10
2    30
dtype: int64

In [ ]:
print(np.nan==np.nan) #값이 다르다.
print(None == None) 
print(np.nan is np.nan) #참조는 같다
print(None is None)

False
True
True
True

In [ ]:
a = [1,2,3]
b = [1,2,3]
c = a
print(a==b) #값을 비교
print(a is b) #참조를 비교
print(a==c) #값을 비교
print(a is c) #참조를 비교

True
False
True
True

#날짜 시퀸스

In [ ]:
s= pd.date_range(start='2019-01-01',end='2022-02-28')
print(s)

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
               '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', length=1155, freq='D')

In [ ]:
a=[1,2,3]
b=[1,2,3]
c = a
print(a==b) #값 비교
print(a is b) #참조 비교
print(a==c) #값 비교
print(a is c) #참조 비교

True
False
True
True

In [ ]:
print(np.nan ==np.nan) #값이 다르다.
print(np.nan is np.nan) #참조는 같다.
print(None == None)
print(None is None)

False
True
True
True

#DataFrame

```
df = pd.DataFrame()

date는 matrix형태

In [ ]:
df = pd.DataFrame([["길동이",90,80,70],["부길동",80,70,60]])
print(df)

     0   1   2   3
0  길동이  90  80  70
1  부길동  80  70  60

In [ ]:
print(df.index)

RangeIndex(start=0, stop=2, step=1)

In [ ]:
print(df.columns)

RangeIndex(start=0, stop=4, step=1)

In [ ]:
print(df.values)

[['길동이' 90 80 70]
 ['부길동' 80 70 60]]

In [ ]:
nums=[1,2]
cnames=["이름","국어","수학","영어"]
df = pd.DataFrame([["길동이",90,80,70],["부길동",80,70,60]] , index =nums ,columns=cnames)
print(df)

    이름  국어  수학  영어
1  길동이  90  80  70
2  부길동  80  70  60

In [ ]:
table_data ={"연도" : [2020,2021,2022]
             ,"매출": [200,100,120]}
df = pd.DataFrame(table_data)
print(df)

     연도   매출
0  2020  200
1  2021  100
2  2022  120

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연도      3 non-null      int64
 1   매출      3 non-null      int64
dtypes: int64(2)
memory usage: 176.0 bytes
None

In [ ]:
print(df.describe())

           연도          매출
count     3.0    3.000000
mean   2021.0  140.000000
std       1.0   52.915026
min    2020.0  100.000000
25%    2020.5  110.000000
50%    2021.0  120.000000
75%    2021.5  160.000000
max    2022.0  200.000000

#dataframe 데이터 연산

In [ ]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([6,7,8,9,10])
s3 = s1+s2
print(s1)
print(s2)
print(s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     6
1     7
2     8
3     9
4    10
dtype: int64
0     7
1     9
2    11
3    13
4    15
dtype: int64

In [ ]:
#연산 More
s1 =pd.Series([1,2,3,4], index=['a','b','c','d'])
s2 =pd.Series([5,8,7,5], index=['a','b','c','d'])
s3 =s1+s2
print(s3)

a     6
b    10
c    10
d     9
dtype: int64

#DataFrame 데이터 연산

In [ ]:
data1 = {"홍길동":[80,70,78],
        "야길동":[78,41,52],
        "김길동":[66,22,55]
        }
df1 =pd.DataFrame(data1)

In [ ]:
data2 = {"홍길동":[77,88,99],
        "야길동":[11,22,33],
        "김길동":[44,55,66]
        }
df2 =pd.DataFrame(data2)

In [ ]:
print(df1)
print(df2)

   홍길동  야길동  김길동
0   80   78   66
1   70   41   22
2   78   52   55
   홍길동  야길동  김길동
0   77   11   44
1   88   22   55
2   99   33   66

In [ ]:
df3=df1+df2
print(df3)

   홍길동  야길동  김길동
0  157   89  110
1  158   63   77
2  177   85  121

In [ ]:
df3.describe()

              홍길동   야길동         김길동
count    3.000000   3.0    3.000000
mean   164.000000  79.0  102.666667
std     11.269428  14.0   22.898326
min    157.000000  63.0   77.000000
25%    157.500000  74.0   93.500000
50%    158.000000  85.0  110.000000
75%    167.500000  87.0  115.500000
max    177.000000  89.0  121.000000

In [ ]:
print(df3.mean())
print(df3.mean(axis=1))

홍길동    164.000000
야길동     79.000000
김길동    102.666667
dtype: float64
0    118.666667
1     99.333333
2    127.666667
dtype: float64

In [ ]:
df3

   홍길동  야길동  김길동
0  157   89  110
1  158   63   77
2  177   85  121

In [ ]:
df.head(2)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa

In [ ]:
df.tail(2)

     sepal.length  sepal.width  petal.length  petal.width    variety
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/파이썬/iris.csv')
print(df)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [ ]:
df[50:55]

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor

In [ ]:
df.loc[50:55]

    sepal.length  sepal.width  petal.length  petal.width     variety
50           7.0          3.2           4.7          1.4  Versicolor
51           6.4          3.2           4.5          1.5  Versicolor
52           6.9          3.1           4.9          1.5  Versicolor
53           5.5          2.3           4.0          1.3  Versicolor
54           6.5          2.8           4.6          1.5  Versicolor
55           5.7          2.8           4.5          1.3  Versicolor

In [ ]:
print(df['petal.length'][0])

1.4

In [ ]:
print(df.loc[0]['petal.length'])

1.4

In [ ]:
print(df.loc[0,'petal.length'])

1.4

In [ ]:
df.T

                 0       1       2    ...        147        148        149
sepal.length     5.1     4.9     4.7  ...        6.5        6.2        5.9
sepal.width      3.5     3.0     3.2  ...        3.0        3.4        3.0
petal.length     1.4     1.4     1.3  ...        5.2        5.4        5.1
petal.width      0.2     0.2     0.2  ...        2.0        2.3        1.8
variety       Setosa  Setosa  Setosa  ...  Virginica  Virginica  Virginica

[5 rows x 150 columns]

#데이터 통합하기

In [ ]:
data = {"국어" : [100, 38, 45, 89],
       "영어" : [90, 80, 75, 70]}
df1 = pd.DataFrame(data)
print(df1)

    국어  영어
0  100  90
1   38  80
2   45  75
3   89  70

In [ ]:
data2 = {"국어" : [70, 80],
       "영어" : [75, 100]}
df2 = pd.DataFrame(data2)
print(df2)

   국어   영어
0  70   75
1  80  100

In [ ]:
df1.append(df2)
print(df1)

    국어  영어
0  100  90
1   38  80
2   45  75
3   89  70

In [ ]:
rdf = df1.append(df2)
print(rdf) #반환할 때 변수에 넣어줘야 한다. 변화된 객체를 반환
print()
print(df1) #df1은 변화가 없다

    국어   영어
0  100   90
1   38   80
2   45   75
3   89   70
0   70   75
1   80  100

    국어  영어
0  100  90
1   38  80
2   45  75
3   89  70

In [ ]:
rdf=df.append(df2, ignore_index=True) #default는 false
print(rdf)

    국어   영어
0  100   10
1   80   20
2   90   30
3   90   40
4   70   75
5   80  100

In [ ]:
data3 = {"국어" : [75, 80]}
df3 = pd.DataFrame(data3)
print(df3)

   국어
0  75
1  80

In [ ]:
print(df)

    국어  영어
0  100  10
1   80  20
2   90  30
3   90  40

In [ ]:
rdf = df.append(df3)
print(rdf)

    국어    영어
0  100  10.0
1   80  20.0
2   90  30.0
3   90  40.0
0   75   NaN
1   80   NaN

In [ ]:
print(df)

    국어  영어
0  100  10
1   80  20
2   90  30
3   90  40

In [ ]:
data4 = {"수학" : [75, 80,np.nan,99]}
df4 = pd.DataFrame(data4)
print(df4)

     수학
0  75.0
1  80.0
2   NaN
3  99.0

In [ ]:
rdf = df.join(df4)
print(rdf)

    국어  영어    수학
0  100  10  75.0
1   80  20  80.0
2   90  30   NaN
3   90  40  99.0

#결측치 표현

In [ ]:
value =np.nan
value

nan

In [ ]:
value2 =None
print(value2)

None

In [ ]:
se1 = pd.Series(['홍길동',np.nan])
se1.isnull()

0    False
1     True
dtype: bool

In [ ]:
se1[0] = np.nan
print(se1)

0    NaN
1    NaN
dtype: object

In [ ]:
se1[1] = None
print(se1)

0     NaN
1    None
dtype: object

In [ ]:
se1.isnull()

0    True
1    True
dtype: bool

In [ ]:
#전처리 과정에서 결측데이터 제외하기
se2 =se1.dropna()
print(se2)

Series([], dtype: object)

In [ ]:
se1.notnull()

0    False
1    False
dtype: bool

In [ ]:
se3 = se1[se1.notnull()]
print(se3)

Series([], dtype: object)

In [ ]:
df1 = pd.DataFrame([[1,np.nan,3,4],[np.nan,np.nan,np.nan,np.nan] ,[3,4,2,2]] )
print(df1)

     0    1    2    3
0  1.0  NaN  3.0  4.0
1  NaN  NaN  NaN  NaN
2  3.0  4.0  2.0  2.0

In [ ]:
df2 = df1.dropna()
print(df2)

     0    1    2    3
2  3.0  4.0  2.0  2.0

In [ ]:
#모든 컬럼이 결측치일때 해당(Row)index를 삭제하세요
df3 =df1.dropna(how='all')
print(df3)

     0    1    2    3
0  1.0  NaN  3.0  4.0
2  3.0  4.0  2.0  2.0

In [ ]:
df4 =df1.dropna(how='all')
print(df4)

     0    1    2    3
0  1.0  NaN  3.0  4.0
2  3.0  4.0  2.0  2.0