<a href="https://colab.research.google.com/github/shhh-33/sesac-python/blob/HEAD/%ED%86%B5%EA%B3%84%EB%B6%84%EC%84%9D%EC%8B%9C%EA%B0%81%ED%99%94_pandas%EC%9E%85%EC%B6%9C%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/파이썬/sea_rain1.csv')
df

     연도       동해       남해       서해       전체
0  1996  17.4629  12.3000  15.2000  15.9067
1  1997  17.4116  17.4092  14.8240  16.1526
2  1998  17.5944  18.0110  15.2521  16.6044
3  1999  18.1495  18.3175  14.8979  16.6284
4  2000  17.9280  18.1766  15.0504  16.6178

In [3]:
df.to_csv('demo.csv')

In [13]:
dfs = pd.read_csv('/content/drive/MyDrive/파이썬/demo2.csv', header = None) 
print(dfs)

      0        1        2        3        4
0  1996  17.4629  17.2288  14.4360  15.9067
1  1997  17.4116  17.4092  14.8240  16.1526
2  1998  17.5944  18.0110  15.2512  16.6044
3  1999  18.1495  18.3175  14.8979  16.6284
4  2000  17.9280  18.1766  15.0504  16.6178

In [14]:
dfs.columns=["연도","동해","서해","남해","전체"]
dfs

     연도       동해       서해       남해       전체
0  1996  17.4629  17.2288  14.4360  15.9067
1  1997  17.4116  17.4092  14.8240  16.1526
2  1998  17.5944  18.0110  15.2512  16.6044
3  1999  18.1495  18.3175  14.8979  16.6284
4  2000  17.9280  18.1766  15.0504  16.6178

In [15]:
import pandas as pd
path ='/content/drive/MyDrive/파이썬/train_titanic.csv'
data = pd.read_csv(path)
data

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [16]:
 data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [20]:
data['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [18]:
data['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [26]:
names_values=['None', 'Mr', 'Mrs', 'Miss', 'Master', 'Dr']
ndata=data['Name']
for ne in ndata:
  f,s = ne.split(',')
  ses=s.split('.')
  s0 = ses[0]
  s0 = s0.replace(' ','')
  check = False
  for i, ne2 in enumerate(names_values):
    if ne2 == s0:
      print(i)
      chesck = True
      break
    if check == False:
      print(0)

0
1
0
0
2
0
0
0
3
0
0
2
0
1
0
1
0
1
0
0
0
0
4
0
0
2
0
0
2
0
0
0
3
0
0
0
3
0
1
0
1
0
0
0
3
0
0
2
0
0
0
0
4
0
1
0
0
2
0
0
2
0
1
0
1
0
0
0
3
0
1
0
0
0
3
0
0
2
0
1
0
1
0
0
0
3
0
1
0
0
0
0
0
0
0
0
2
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
0
0
3
0
0
2
0
0
2
0
1
0
0
0
3
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
0
2
0
0
0
0
4
0
1
0
0
2
0
0
2
0
1
0
1
0
0
0
3
0
1
0
0
0
3
0
0
0
0
4
0
1
0
0
0
3
0
1
0
0
0
0
4
0
1
0
0
0
0
4
0
0
2
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
0
4
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
0
0
3
0
0
2
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
2
0
1
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
0
0
3
0
1
0
0
0
3
0
0
0
3
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
0
0
3
0
1
0
0
0
0
4
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
0
2
0
0
2
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
0
2
0
0
0
3
0
0
2
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
2
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
0
0
0
4
0
1
0
0
2
0
1
0
1
0
0
0
0
4
0
0
0
0
4
0
0
2
0
0
2
0
1
0
1
0
1
0
0
0
0
4
0
0
0
3
0
1
0
1
0
1
0
0
0
0
4
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
0
0
0
4
0
0
0
0
4
0
0
0
3
0
1
0
0
2
0
1
0
1
0
1
0
0
2
0
1
0
0
0
3
0
0
0
0
4
0
0
2
0
0
0
3
0
1
0
1
0
0
0
3
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
0
0
3
0
0
0
3
0
1
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
0
2
0
1
0
1
0
0
0
3
0
1
0
0
0
3
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
0
0
3
0
1
0
1
0
1
0
0
0
0
0
5
0
0
0
3
0
0
2
0
1
0
0
0
0
0
0
0
1
0
0
2
0
1
0
1
0
0
2
0
0
2
0
0
2
0
0
0
3
0
0
0
3
0
0
2
0
1
0
0
0
0
4
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
0
2
0
0
0
3
0
1
0
1
0
0
2
0
1
0
0
0
3
0
0
0
3
0
0
0
3
0
1
0
0
0
0
4
0
0
2
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
0
0
3
0
0
2
0
1
0
0
0
3
0
1
0
1
0
1
0
0
0
3
0
1
0
0
2
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
0
0
0
4
0
0
0
3
0
0
2
0
1
0
0
0
3
0
0
0
3
0
0
0
3
0
0
2
0
1
0
1
0
0
0
3
0
0
2
0
0
0
0
0
5
0
0
0
3
0
0
2
0
1
0
1
0
0
0
3
0
0
2
0
1
0
0
0
3
0
1
0
0
2
0
0
2
0
0
0
3
0
0
0
3
0
1
0
1
0
1
0
0
2
0
1
0
1
0
0
0
3
0
1
0
1
0
0
0
0
4
0
0
0
3
0
1
0
1
0
1
0
0
0
3
0
0
0
3
0
0
2
0
0
0
0
4
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
0
0
3
0
0
0
3
0
0
0
3
0
1
0
1
0
0
2
0
1
0
1
0
1
0
0
2
0
0
2
0
0
0
3
0
0
0
0
0
0
0
1
0
1
0
1
0
1
0
0
0
3
0
0
2
0
0
0
3
0
1
0
1
0
1
0
0
0
3
0
0
0
3
0
1
0
0
2
0
1
0
1
0
0
0
0
4
0
0
0
3
0
1
0
0
0
3
0
1
0
1
0
1
0
0
0
3
0
0
2
0
1
0
0
0
3
0
1
0
0
0
0
0
5
0
0
2
0
1
0
1
0
0
0
3
0
1
0
0
0
3
0
1
0
1
0
0
0
0
4
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
1
0
0
2
0
0
2
0
0
0
3
0
1
0
0
0
3
0
1
0
1
0
1
0
0
2
0
1
0
1
0
0
2
0
0
0
3
0
1
0
1
0
1
0
0
2
0
0
2
0
1
0
1
0
0
0
3
0
0
0
3
0
0
2
0
1
0
1
0
0
2
0
1
0
1
0
0
0
0
0
0
0
1
0
0
0
0
4
0
0
0
3
0
1
0
0
0
3
0
0
0
0
0
0
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
2
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
0
2
0
0
2
0
0
0
3
0
1
0
1
0
1
0
1
0
0
0
3
0
0
0
0
4
0
1
0
1
0
0
2
0
1
0
0
0
3
0
0
2
0
1
0
1
0
0
0
0
4
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
0
2
0
1
0
1
0
0
0
3
0
0
0
3
0
0
0
3
0
0
0
3
0
1
0
0
2
0
1
0
1
0
1
0
1
0
1
0
1
0
0
2
0
1
0
1
0
0
2
0
1
0
0
2
0
1
0
0
0
3
0
1
0
1
0
0
2
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
0
2
0
0
0
3
0
0
0
3
0
0
0
0
0
0
0
0
0
3
0
1
0
0
0
3
0
0
0
3
0
0
0
3
0
0
0
3
0
1
0
1
0
1
0
0
2
0
1
0
1
0
0
0
0
4
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
0
0
0
0
0
0
1
0
0
2
0
0
2
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
0
2
0
1
0
1
0
1
0
0
2
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
0
2
0
0
2
0
1
0
0
0
3
0
0
2
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
0
2
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
1
0
0
0
0
0
0
0
0
2
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
2
0
0
0
3
0
0
2
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
0
2
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
0
0
0
0
0
0
3
0
1
0
1
0
1
0
1
0
0
0
0
0
5
0
1
0
0
0
3
0
0
0
3
0
1
0
1
0
0
2
0
1
0
1
0
0
0
0
0
0
0
0
0
3
0
1
0
0
0
3
0
1
0
1
0
0
0
0
0
0
0
1
0
0
0
3
0
1
0
0
0
3
0
1
0
0
0
3
0
0
0
3
0
1
0
1
0
0
2
0
1
0
1
0
0
0
0
0
5
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
2
0
0
2
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
0
2
0
1
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
0
0
3
0
1
0
1
0
0
0
0
0
0
0
1
0
1
0
0
0
3
0
1
0
1
0
0
2
0
1
0
0
0
3
0
1
0
1
0
1
0
0
2
0
1
0
0
0
3
0
0
0
0
4
0
0
0
0
0
0
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
0
2
0
0
0
3
0
1
0
0
0
3
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
0
2
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
0
0
0
0
0
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
0
0
0
4
0
1
0
1
0
0
2
0
0
0
0
4
0
1
0
1
0
1
0
0
0
0
0
0
0
1
0
1
0
1
0
0
2
0
1
0
0
2
0
0
0
0
0
5
0
0
0
3
0
1
0
1
0
1
0
1
0
0
2
0
1
0
0
2
0
1
0
1
0
0
0
3
0
1
0
0
2
0
0
0
3
0
0
2
0
1
0
1
0
1
0
1
0
0
0
3
0
0
0
0
4
0
0
0
0
4
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
0
0
0
0
5
0
0
2
0
1
0
0
2
0
1
0
0
2
0
0
0
0
4
0
0
0
0
4
0
1
0
1
0
1
0
0
0
3
0
1
0
0
2
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
0
0
3
0
1
0
1
0
0
0
0
4
0
0
2
0
1
0
0
0
0
0
0
0
0
2
0
0
0
0
4
0
1
0
1
0
0
0
0
4
0
1
0
0
2
0
0
2
0
0
0
0
4
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
1
0
0
0
3
0
1
0
1
0
1
0
1
0
1
0
0
0
0
0
0
0
0
2
0
0
0
0
4
0
1
0
0
0
3
0
0
0
3
0
0
2
0
0
2
0
0
2
0
1
0
0
2
0
1
0
1
0
1
0
0
2
0
0
0
3
0
1
0
0
2
0
0
0
3
0
1
0
1
0
0
0
0
4
0
1
0
0
2
0
1
0
1
0
0
2
0
0
0
3
0
1
0
1
0
1
0
0
2
0
0
2
0
1
0
0
0
3
0
1
0
1
0
0
2
0
0
0
0
0
0
0
0
0
3
0
0
0
3
0
1
0
1

In [27]:
datas =["a","b","c"]
for i, d in enumerate(datas):
  print(i,d)

0 a
1 b
2 c

In [28]:
sdata =data['Sex']
for j,sd in enumerate(sdata):
  if sd =='female':
    sdata[j]=0
  else:
    sdata[j]=1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [29]:
data

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]