<a href="https://colab.research.google.com/github/shhh-33/sesac-python/blob/shhh/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%98%88%EC%99%B8%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

구문 오류 : 코드 오류
런타임 오류 : 실행 시점에 발생

In [13]:
num1 =int(input("정수"))
num2 =int(input("정수"))
try:
  print(num1/num2)
except:
  print("지디명수")
else:
  print("그냥명수")
finally:
  print("허거덕")

정수3
정수0
지디명수
허거덕

In [12]:
num1 =int(input("정수"))
num2 =int(input("정수"))
try:
  print(num1/num2)
except Exception as ex:
  print(type(ex))
else:
  print("그냥명수")

정수8
정수9
0.8888888888888888
그냥명수

In [16]:
try:
  num1 =int(input("정수"))
  num2 =int(input("정수"))
  print(num1/num2)
  ls=[1,2,3]
  n = int(input("1~3중 고르세요"))
  print(ls[n-1])
except ValueError as ex:
  print("값잘못전달->",ex)
except ZeroDivisionError:
  print("젯수가 0")
except Exception:
  print("명수: 문제가 있네")
else:
  print("그냥명수")

정수8
정수7
1.1428571428571428
1~3중 고르세요6
명수: 문제가 있네

In [20]:
#예외를 발생시키기

def getSum(start,end,step=1):
  if start > end:
    raise ValueError #예외를 발생시킨다
  s=0
  
  for i in range(start,end+1,step):
    s+=i
  return s

In [22]:
try:
   print(getSum(2,10))
   print(getSum(10,2))
except:
  print("예외발생")

54
예외발생