<a href="https://colab.research.google.com/github/shhh-33/sesac-python/blob/shhh/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%A8%EC%88%98(%ED%8C%8C%EC%9D%BC%EC%B2%98%EB%A6%AC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
fp='/demo.txt'
fs=open(fp,'r')
data = fs.read()
print(data)

In [42]:
folder ='/content/drive/MyDrive/파이썬'

In [43]:
members =[
          ["홍길동",90,80,90],
          ["제갈길동",10,20,30]
]

In [53]:
fname = folder +"mscores2.csv"
fname

'/content/drive/MyDrive/파이썬mscores2.csv'

In [45]:
with open(fname,'w') as fs:
  print("um")
fs = open(fname,'w')
print("um")
fs.close()

um
um

In [46]:
fs = open(fname,'w')
for member in members:
  fs.write(f"{member[0]},{member[1]},{member[2]},{member[3]}")
fs.close()

In [47]:
#csv 모듈 이용해서

import csv
fname2 = folder+"mscores2.csv"
with open(fname2, 'w', newline='') as csvfile:
  sw=csv.writer(csvfile, delimiter=',')
  for member in members:
    sw.writerow(member)

In [54]:
fs = open(fname,'r')
members=[]
while True:
  record = fs.readline()
  if record =="":
    break
  record.replace("\n","")
  sdata = record.split(',')
  rs =[]
  rs.append(sdata[0])
  for i in range(1,4):
    rs.append(int(sdata[i]))
  members.append(rs)
fs.close()
print(members)

[['홍길동', 90, 80, 90], ['제갈길동', 10, 20, 30]]

In [55]:
import csv
fs = open(fname, 'r', newline='')
reader = csv.reader(fs)
for row in reader:
  rs =[]
  rs.append(row[0])
  for i in range(1,4):
    rs.append(int(sdata[i]))
  members.append(rs)  
fs.close()
print(members)

[['홍길동', 90, 80, 90], ['제갈길동', 10, 20, 30], ['홍길동', 10, 20, 30], ['제갈길동', 10, 20, 30]]

In [56]:
import pandas as pd
members =pd.read_csv(fname,header=None)
members

      0   1   2   3
0   홍길동  90  80  90
1  제갈길동  10  20  30